@import '../helpers/variables';
@import '../helpers/mixins';

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  0% {
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes widthOut {
  0% {
    width: 215px;
  }

  100% {
    width: 500px;
  }
}


@keyframes arrow {
  from {
    transform: translateX(0);
  }

  15% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  50% {
    transform: translateX(15px);
  }

  51% {
    transform: translateX(-10px);
  }

  62% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  to {
    transform: translateX(0);
  }

}