@import 'variables';
@import 'mixins';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $commonWidth;
  margin: 0 auto;
  padding: 0 $gutter;
  width: 100%;

  // брейпоинты для десктопной верстки

  // @include breakpoint(el) {
  //   max-width: 992px;
  // }
  // @include breakpoint(lg) {
  //   max-width: 768px;
  // }
  // @include breakpoint(md) {
  //   max-width: 576px;
  // }
  // @include breakpoint(sm) {
  //   max-width: 480px;
  // }

  // брейпоинты для mobile first

  @include breakpoint(xs) {
    max-width: 320px;
  }

  @include breakpoint(sm) {
    max-width: 570px;
  }

  @include breakpoint(md) {
    max-width: 750px;
  }

  @include breakpoint(lg) {
    max-width: 1030px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.link--red {
  color: $red;

  &:active {
    color: #bb211b;
  }

}

.link--blue {
  color: $lightBlue;

  &:active {
    color: #008abd;
  }
}

.button {
  padding: 15px 25px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 4px;
}

.button--red {
  background-color: $red;

  &:hover {
    background-color: #d6251f;
  }

  &:active {
    background-color: #bb211b;
  }

  &:disabled {
    opacity: .5;
  }
}

.close {
  position: absolute;
  padding: 0;
  width: 14px;
  height: 14px;
  opacity: .7;

  &:after {
    @include pseudo;
    top: 0;
    left: 50%;
    transform: rotate(-45deg);
    width: 1.5px;
    height: 100%;
  }

  &:before {
    @include pseudo;
    top: 0;
    left: 50%;
    transform: rotate(45deg);
    width: 1.5px;
    height: 100%;
  }
}

.close--white {
  &:after {
    background-color: #fff;
  }

  &:before {
    background-color: #fff;
  }
}

.close--grey {
  &:after {
    background-color: #b2c0cd;
  }

  &:before {
    background-color: #b2c0cd;
  }
}

.block-phone {
  color: #1f1f1f;
}

.block-phone__link {
  display: block;
  font-family: $UbuntuMedium;

  @include breakpoint(lg) {
    font-size: 20px;
  }
}

.block-phone__description {
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.icon-play {
  fill: $lightBlue;
  transition: ease-out .5s;
}

.type__list {
  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
  }
  @include breakpoint(lg) {
    justify-content: flex-start;
  }
}

.type__item {
  display: flex;
  justify-content: space-between;
  &:not(:last-child){
    margin-bottom: 10px;
    @include breakpoint(sm) {
      margin-bottom: 0;
    }
    @include breakpoint(lg) {
      margin-right: 140px;
    }
  }
}

.type__checkbox {
  display: inline-block;
}

.selection-premises__title {
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #1f1f1f;
}

.type__checkbox {
  position: relative;
  display: block;
  padding-left: 35px;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
}

.type__checkbox-input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.type__checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  border: 1px solid #d3dfeb;
  box-sizing: border-box;
  border-radius: 4px;
}

.type__checkbox input:checked~.type__checkbox-checkmark {
  background-color: #f8f9fb;
  border: 2px solid #d3dfeb;
}

.type__checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.type__checkbox input:checked~.type__checkbox-checkmark:after {
  display: block;
}

.type__checkbox-checkmark:after {
  content: url($imageDir + 'checked-filter.svg');
  left: 5px;
  top: 2px;
  color: #00adef;
}

.type__checkbox-name {
  position: relative;
  top: 2px;
  left: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #1f1f1f;
}




// для построение сетки

// .fon1{
//   background-color: rgba(49, 174, 49, 0.2);
//   border: 1px solid rgb(49, 174, 49);
// }

// .fon2{
//   background-color: rgba(201, 191, 55, 0.2);
//   border: 1px solid rgb(201, 191, 55);
// }

// .fon3{
//   background-color: rgba(231, 154, 72, 0.2);
//   border: 1px solid rgb(231, 154, 72);
// }

// .fon4{
//   background-color: rgba(125, 77, 77, 0.2);
//   border: 1px solid rgb(125, 77, 77);
// }

// .fon5{
//   background-color: rgba(138, 103, 226, 0.2);
//   border: 1px solid rgb(138, 103, 226);
// }

// .fon6{
//   background-color: rgba(119, 231, 122, 0.2);
//   border: 1px solid rgb(119, 231, 122);
// }

// .fon7{
//   background-color: rgba(208, 70, 166, 0.2);
//   border: 1px solid rgb(208, 70, 166);
// }