@import 'variables';
@import 'mixins';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $commonWidth;
  margin: 0 auto;
  padding: 0 $gutter;
  width: 100%;

  // брейпоинты для десктопной верстки

  // @include breakpoint(el) {
  //   max-width: 992px;
  // }
  // @include breakpoint(lg) {
  //   max-width: 768px;
  // }
  // @include breakpoint(md) {
  //   max-width: 576px;
  // }
  // @include breakpoint(sm) {
  //   max-width: 480px;
  // }

  // брейпоинты для mobile first

  @include breakpoint(xs) {
    max-width: 320px;
  }

  @include breakpoint(sm) {
    max-width: 570px;
  }

  @include breakpoint(md) {
    max-width: 750px;
  }

  @include breakpoint(lg) {
    max-width: 1030px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.link--red {
  color: $red;

  &:active {
    color: #bb211b;
  }

}

.link--blue {
  color: $lightBlue;

  &:active {
    color: #008abd;
  }
}

.button {
  padding: 14px 25px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 4px;
}

.button--red {
  background-color: $red;

  &:hover {
    background-color: #d6251f;
  }

  &:active {
    background-color: #bb211b;
  }

  &:disabled {
    opacity: .5;
  }
}

.button--transparent-red {
  color: $red;
  border: 1px solid $red;

  &:hover {
    color: #d6251f;
    border: 1px solid #d6251f;
    background-color: rgba($color: #d6251f, $alpha: .1);
  }

  &:active {
    color: #bb211b;
    border: 1px solid #bb211b;
    background-color: rgba($color: #bb211b, $alpha: .2);
  }

  &:disabled {
    opacity: .5;
  }
}

.button--transparent-grey {
  color: $lightBlack;
  border: 1px solid #d3dfeb;
}

.btn-prev {
  padding: 10px;
  // width: 8px;
  // height: 20px;
  background-color: transparent;
  border: none;
  background-image: url($imageDir + 'arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.btn-next {
  padding: 10px;
  transform: rotate(-180deg);
  // width: 8px;
  // height: 20px;
  background-color: transparent;
  border: none;
  background-image: url($imageDir + 'arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-switch__number-slide--first {
  position: relative;
  padding-right: 13px;
  color: #1f1f1f;

  &:after {
    @include pseudo;
    left: 65%;
    top: -3px;
    transform: rotate(30deg);
    width: 1px;
    height: 25px;
    background-color: #d2deec;
  }
}

.carousel-switch__number-slide {
  display: flex;
  align-items: center;
  color: #999999;
}

.close {
  position: absolute;
  padding: 0;
  width: 14px;
  height: 14px;
  opacity: .7;

  &:after {
    @include pseudo;
    top: 0;
    left: 50%;
    transform: rotate(-45deg);
    width: 1.5px;
    height: 100%;
  }

  &:before {
    @include pseudo;
    top: 0;
    left: 50%;
    transform: rotate(45deg);
    width: 1.5px;
    height: 100%;
  }
}

.close--white {
  &:after {
    background-color: #fff;
  }

  &:before {
    background-color: #fff;
  }
}

.close--grey {
  &:after {
    background-color: #b2c0cd;
  }

  &:before {
    background-color: #b2c0cd;
  }
}

.block-phone {
  color: #1f1f1f;
}

.block-phone__link {
  display: block;
  font-family: $UbuntuMedium;

  @include breakpoint(lg) {
    font-size: 20px;
  }
}

.block-phone__description {
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.icon-play {
  fill: $lightBlue;
  transition: ease-out .5s;
}

// чекбокс с галочками
.type__list {
  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint(lg) {
    justify-content: flex-start;
  }
}

.type__item {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.type__checkbox {
  display: inline-block;
}

.selection-premises__title {
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #1f1f1f;
}

.type__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 45px;
  cursor: pointer;
}

.type__checkbox-input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.type__checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 32px;
  border: 1px solid #d3dfeb;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all .3s;
}

.type__checkbox input:checked~.type__checkbox-checkmark {
  background-color: #f8f9fb;
  border: 1px solid #c6d1db;
}

.type__checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.type__checkbox input:checked~.type__checkbox-checkmark:after {
  display: block;
}

.type__item .type__checkbox-checkmark:hover {
  background-color: #f8f9fb;
}

.type__checkbox-checkmark:after {
  content: url($imageDir + 'checked-filter.svg');
  left: 5px;
  top: 7px;
  color: #00adef;
}

.type__checkbox-name {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: #1f1f1f;
}

// чекбоксы квадртные
.checkbox-square__list {
  display: flex;
  color: #1f1f1f;
}

.checkbox-square__item {
  margin: 0;
  height: 52px;
  display: flex;
  transition: all 0.3s;

  &:not(:first-child) {
    margin-left: -1px;
  }

  .checkbox-square__checkmark {
    @include breakpoint(lg) {
      &:hover {
        background-color: #f8f9fb;
      }
    }
  }
}

.checkbox-square__checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-square__checkbox input {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.checkbox-square__checkmark {
  // position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  padding: 16px 21px;
  background: #ffffff;
  border: 1px solid rgba(#d3dfeb, .7);
  transition: all 0.3s;
}



.checkbox-square__checkbox input:checked~.checkbox-square__checkmark {
  background-color: #f8f9fb;
  border: 1px solid #c6d1db;
}


// .checkbox-square__checkbox input:disabled~.checkbox-square__checkmark {
//   background: #e6e6e6;
//   opacity: 0.6;
//   pointer-events: none;
// }

.checkbox-square__checkmark:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.contrcheckbox-square__checkboxol input:checked~.checkbox-square__checkmark:after {
  display: block;
}

.control-checkbox .checkbox-square__checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #423f34;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.checkbox-square__checkmark:after {
  border-color: #7b7b7b;
}


.checkbox-square__checkbox--big {
  width: 100%;
  height: 100%;
}

.checkbox-square__checkmark--big {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend {
  margin-bottom: 7px;
  color: #999999;
  font-size: 13px;
}

// табы-текст
.tabs-words {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  @include breakpoint(sm) {
    justify-content: center;
    overflow: visible;
  }
}

.tabs-words__item {
  position: relative;
  flex-shrink: 0;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.tabs-words__item--active {
  color: rgba(#3d3d3d, .6);

  &:after {
    @include pseudo;
    top: auto;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 4px;
    background: #00adef;
  }
}

.tabs-words__button {
  padding-bottom: 10px;
  font-size: 13px;

  &:hover {
    opacity: .6;
  }
}

.carousel-switch {
  display: flex;
  justify-content: space-between;
  height: auto;
  min-height: 20px;
}

.tabs-number {
  display: flex;
  color: #999999;
}

.tabs-number__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.tabs-number__item--active {
  color: $colorSite;

  &:after {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f5f9;
    border-radius: 50%;
    z-index: -1;
  }
}

.tabs-number__button {
  padding: 4px 9px;
  font-size: 13px;
}

.tabs-description__title {
  color: $lightBlack;
  font-size: 17px;
  font-family: $UbuntuMedium;
}

.tabs-description__description{
  margin-bottom: 30px;
  line-height: 24px;
  @include breakpoint(md) {
    margin-bottom: 55px;
  }
  @include breakpoint(lg) {
    margin-bottom: 85px;
  }
}



// для построение сетки

// .fon1{
//   background-color: rgba(49, 174, 49, 0.2);
//   border: 1px solid rgb(49, 174, 49);
// }

// .fon2{
//   background-color: rgba(201, 191, 55, 0.2);
//   border: 1px solid rgb(201, 191, 55);
// }

// .fon3{
//   background-color: rgba(231, 154, 72, 0.2);
//   border: 1px solid rgb(231, 154, 72);
// }

// .fon4{
//   background-color: rgba(125, 77, 77, 0.2);
//   border: 1px solid rgb(125, 77, 77);
// }

// .fon5{
//   background-color: rgba(138, 103, 226, 0.2);
//   border: 1px solid rgb(138, 103, 226);
// }

// .fon6{
//   background-color: rgba(119, 231, 122, 0.2);
//   border: 1px solid rgb(119, 231, 122);
// }

// .fon7{
//   background-color: rgba(208, 70, 166, 0.2);
//   border: 1px solid rgb(208, 70, 166);
// }