%-svg-icon-burger-dims {
	width: 38px;
	height: 21px;
}

%-svg-icon-marker-red-dims {
	width: 69px;
	height: 50px;
}

%-svg-icon-play-dims {
	width: 48px;
	height: 48px;
}

%-svg-icon-shape-dims {
	width: 13px;
	height: 16px;
}

