%-svg-icon-arrow-big-dims {
	width: 22px;
	height: 14px;
}

%-svg-icon-arrow-down-dims {
	width: 10px;
	height: 5px;
}

%-svg-icon-burger-dims {
	width: 38px;
	height: 21px;
}

%-svg-icon-car-dims {
	width: 25px;
	height: 18px;
}

%-svg-icon-marker-blue-dims {
	width: 31px;
	height: 44px;
}

%-svg-icon-marker-map-red-dims {
	width: 31px;
	height: 44px;
}

%-svg-icon-marker-red-dims {
	width: 69px;
	height: 50px;
}

%-svg-icon-play-dims {
	width: 48px;
	height: 48px;
}

%-svg-icon-present-dims {
	width: 24px;
	height: 24px;
}

%-svg-icon-roller-dims {
	width: 20px;
	height: 20px;
}

%-svg-icon-shape-dims {
	width: 13px;
	height: 16px;
}

