@import '../helpers/variables';
@import '../helpers/mixins';

.tabs {
  &-content {
    position: relative;
    &__item {
      height: 0;
      overflow-y: hidden;
      transition: all .3s ease-in-out;
      &--current {
        height: auto;
        overflow-y: visible;
      }
    }
  }
}
