// Paths
$imageDir: '../images/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1200px;
$gutter: 15px;

// Fonts
$ProximaNova: 'ProximaNova', Arial, Tahoma, sans-serif;

// Colors
$white: #FFF;
$black: #000;
 