// Paths
$imageDir: '../images/';
$fontDir: '../fonts/';
$videoDir: '../videos/';
// Grid
$commonWidth: 1030px;
$gutter: 15px;
// Fonts
$UbuntuReg: 'Ubuntu';
$UbuntuMedium: 'Ubuntu Medium', Arial, Tahoma, sans-serif;
$UbuntuBold: 'Ubuntu Bold', Arial, Tahoma, sans-serif;
// Colors
$white: #FFF;
$black: #000;
$lightBlack: #1f1f1f;
$lightBlue: #00adef;
$red: #ed2d23;
$colorSite: #3d3d3d;