@import '../../helpers/variables';
@import '../../helpers/mixins';


.calculator-mortgages {
  padding-bottom: 25px;

  @include breakpoint(lg) {
    padding-bottom: 70px;
  }

  .container {
    align-items: center;

    @include breakpoint(lg) {
      flex-direction: column;
    }
  }
}

.calculator-mortgages__title {
  @include titleH2;
  margin-bottom: 20px;
  align-self: flex-start;

  @include breakpoint(sm) {
    align-self: center;
  }
}

.calculator-mortgages__content {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.calculator-mortgages__form {
  margin-bottom: 30px;
}

.calculator-mortgages__form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 425px;
}

.calculator-mortgages__form-item {
  position: relative;
  padding-bottom: 10px;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.calculator-mortgages__form-field {
  display: flex;
  flex-direction: column;
}

.initial-fee-input {
  position: relative;
}

.calculator-mortgages__form-initial-fee {
  position: absolute;
  right: 15px;
  top: 50%;
  color: $grey;
}

.calculator-mortgages__form-price {
  margin-bottom: 7px;
  font-size: 13px;
  font-style: normal;
  color: $grey;
}

.calculator-mortgages__form-input {
  padding: 14px 16px 12px 16px;
  width: 100%;
  color: $lightBlack;
  border: 1px solid #d3dfeb;
  border-radius: 4px;

  @include placeholder {
    color: $lightBlack;
  }
}

.calculator-mortgages__form-item--small {
  max-width: 100%;

  @media only screen and (min-width : 435px) {
    max-width: 200px;
  }
}

.calculator-mortgages__form-range{
  position: relative;
  display: flex;
  width: 99.8%;
  margin-top: -4px;
}

.range {
  padding-top: 2px;
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  z-index: 2;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.range::-ms-track {
  width: 100%;-bottom-left-radius: 50px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 2px solid $lightBlue;
  z-index: 2;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: none;
  background-color: $white;
  border: 2px solid $lightBlue;
  z-index: 2;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range::-moz-range-track {
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 2px solid $lightBlue;
  z-index: 2;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

// /* Линия-ндикатор для Firefox */
input[type=range]::-moz-range-track {
  background: none;
  border: none;
}
input[type=range]::-webkit-range-track {
  background: none;
  border: none;
}

.calculator-mortgages__form-range-track{
  position: absolute;
  bottom: -2px;
  left: 1px;
  z-index: 1;
  display: block;
  width: 48%;
  max-width: 100%;
  height: 2px;
  background-color: $lightBlue;
  border-bottom-left-radius: 75px;
  overflow: hidden;
}

.calculator-mortgages__form-range-cursor {
  position: absolute;
  right: -8px;
  top: -6px;
  stroke: $lightBlue;
  fill: $white;
}

.calculator-mortgages__banks {
  max-width: 425px;
  padding: 15px;
  padding-top: 25px;
  border: 1px solid #d3dfeb;
  border-radius: 4px;

  @include breakpoint(lg) {
    max-width: 535px;
    width: 100%;
    padding: 25px 40px 30px;
  }
}

.calculator-mortgages__banks-info {
  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include breakpoint(lg) {
    margin-bottom: 20px;
  }
}

.calculator-mortgages__banks-img {
  margin-bottom: 10px;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.calculator-mortgages__banks-offers {
  margin-bottom: 15px;
  font-size: 20px;
  color: $lightBlue;

  @include breakpoint(lg) {
    text-align: right;
    margin-bottom: 0;
  }
}

.calculator-mortgages__banks-result {
  display: block;
  font-size: 13px;
  color: $grey;
}

.calculator-mortgages__banks-table {
  margin-bottom: 20px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  border-spacing: 0 7px;
  border-collapse: collapse;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.calculator-mortgages__table-row {
  th {
    vertical-align: top;
  }

  th,
  td {
    padding-bottom: 10px;
  }

  &:last-child {
    position: relative;
    border-top: 1px solid #d3dfeb;

    th,
    td {
      padding-top: 12px;
    }
  }
}

.calculator-mortgages__table-header {
  text-align: right;
  font-size: 13px;
  color: $grey;
  font-weight: normal;
}

.calculator-mortgages__table-currency {
  display: block;

  @include breakpoint(lg) {
    display: inline-block;
  }
}

.calculator-mortgages__table-options {
  width: 67px;
  font-weight: normal;
  text-align: left;

  @media only screen and (min-width : 330px) {
    width: auto;
  }

  @include breakpoint(lg) {
    font-size: 15px;
  }
}

.calculator-mortgages__table-value {
  text-align: right;
  vertical-align: top;

  @include breakpoint(lg) {
    font-size: 15px;
  }
}

.calculator-mortgages__table-value--red {
  color: $red;
}

.calculator-mortgages__button {
  display: block;
  width: 100%;

  @media only screen and (min-width : 360px) {
    width: auto;
    margin: 0 auto;
  }
}

.calculator-mortgages__button--mobile {
  @include breakpoint(lg) {
    display: none;
  }
}

.calculator-mortgages__button--desktop {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}