@import '../../helpers/variables';
@import '../../helpers/mixins';


.calculator-mortgages {
  padding-bottom: 25px;

  @include breakpoint(lg) {
    padding-bottom: 70px;
  }

  .container {
    align-items: center;

    @include breakpoint(lg) {
      flex-direction: column;
    }
  }
}

.calculator-mortgages__title {
  @include titleH2;
  margin-bottom: 20px;
  align-self: flex-start;

  @include breakpoint(sm) {
    align-self: center;
  }
}

.calculator-mortgages__content {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.calculator-mortgages__form {
  margin-bottom: 30px;
}

.calculator-mortgages__form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 425px;
}

.calculator-mortgages__form-item {
  position: relative;
  padding-bottom: 10px;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  // overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.calculator-mortgages__form-field {
  display: flex;
  flex-direction: column;
}

.initial-fee-input {
  position: relative;
}

.calculator-mortgages__form-initial-fee {
  position: absolute;
  right: 15px;
  top: 50%;
  color: $grey;
}

.calculator-mortgages__form-price {
  margin-bottom: 7px;
  font-size: 13px;
  font-style: normal;
  color: $grey;
}

.calculator-mortgages__form-input {
  padding: 14px 16px 12px 16px;
  width: 100%;
  color: $lightBlack;
  border: 1px solid #d3dfeb;
  border-radius: 4px;

  @include placeholder {
    color: $lightBlack;
  }
}

.calculator-mortgages__form-item--small {
  max-width: 100%;

  @media only screen and (min-width : 435px) {
    max-width: 200px;
  }
}

// .form-range {
//   position: relative;
//   display: flex;
//   width: 99.8%;
//   margin-top: -3px;
// }

.calculator-mortgages__form-range{
  position: relative;
  display: flex;
  width: 99.8%;
  margin-top: -4px;
}

.range {
  padding-top: 2px;
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  z-index: 2;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.range::-ms-track {
  width: 100%;-bottom-left-radius: 50px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  // margin-top: 6px;
  width: 14px;
  height: 14px;
  // background-image: url($imageDir + 'oval.svg');
  background-color: $white;
  border: 2px solid $lightBlue;
  // box-shadow: 0 2px 8px rgba(0, 36, 50, 0.32);
  z-index: 2;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range::-moz-range-thumb {
  // margin-top: 6px;
  width: 14px;
  height: 14px;
  // background-color: transparent;
  border: none;
  // background-image: url($imageDir + 'oval.svg');
  background-color: $white;
  border: 2px solid $lightBlue;
  // box-shadow: 0 2px 8px rgba(0, 36, 50, 0.32);
  z-index: 2;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range::-moz-range-track {
  -moz-appearance: none;
  // margin-top: 6px;
  width: 14px;
  height: 14px;
  // background-image: url($imageDir + 'oval.svg');
  background-color: $white;
  border: 2px solid $lightBlue;
  // box-shadow: 0 2px 8px rgba(0, 36, 50, 0.32);
  z-index: 2;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

// /* Линия-ндикатор для Firefox */
input[type=range]::-moz-range-track {
  background: none;
  border: none;
}
input[type=range]::-webkit-range-track {
  background: none;
  border: none;
}

.form-range__track{
  position: absolute;
  bottom: -2px;
  left: 1px;
  z-index: 1;
  display: block;
  width: 48%;
  max-width: 100%;
  height: 2px;
  background-color: $lightBlue;
  // border-radius: 4px;
  border-bottom-left-radius: 75px;
  overflow: hidden;
}


// .calculator-mortgages__form-range {
//   position: relative;
//   width: 50%;
//   height: 2px;
//   margin-top: -2px;
//   margin-right: 2px;
//   border-bottom-left-radius: 75px;
//   background-color: $lightBlue;
// }



// .calculator-mortgages__form-range-cursor{
//   position: absolute;
//   width: 30px;
//   height: 30px;
//   background-image: url($imageDir + 'oval.png');
//   background-repeat: no-repeat;
//   background-position: center;
// }

.calculator-mortgages__form-range-cursor {
  position: absolute;
  right: -8px;
  top: -6px;
  stroke: $lightBlue;
  fill: $white;
}














.calculator-mortgages__banks {
  max-width: 425px;
  padding: 15px;
  padding-top: 25px;
  border: 1px solid #d3dfeb;
  border-radius: 4px;

  @include breakpoint(lg) {
    max-width: 535px;
    width: 100%;
    padding: 25px 40px 30px;
  }
}

.calculator-mortgages__banks-info {
  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include breakpoint(lg) {
    margin-bottom: 20px;
  }
}

.calculator-mortgages__banks-img {
  margin-bottom: 10px;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.calculator-mortgages__banks-offers {
  margin-bottom: 15px;
  font-size: 20px;
  color: $lightBlue;

  @include breakpoint(lg) {
    text-align: right;
    margin-bottom: 0;
  }
}

.calculator-mortgages__banks-result {
  display: block;
  font-size: 13px;
  color: $grey;
}

.calculator-mortgages__banks-table {
  margin-bottom: 20px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  border-spacing: 0 7px;
  border-collapse: collapse;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.calculator-mortgages__table-row {
  th {
    vertical-align: top;
  }

  th,
  td {
    padding-bottom: 10px;
  }

  &:last-child {
    position: relative;
    border-top: 1px solid #d3dfeb;

    th,
    td {
      padding-top: 12px;
    }
  }
}

.calculator-mortgages__table-header {
  text-align: right;
  font-size: 13px;
  color: $grey;
  font-weight: normal;
}

.calculator-mortgages__table-currency {
  display: block;

  @include breakpoint(lg) {
    display: inline-block;
  }
}

.calculator-mortgages__table-options {
  width: 67px;
  font-weight: normal;
  text-align: left;

  @media only screen and (min-width : 330px) {
    width: auto;
  }

  @include breakpoint(lg) {
    font-size: 15px;
  }
}

.calculator-mortgages__table-value {
  text-align: right;
  vertical-align: top;

  @include breakpoint(lg) {
    font-size: 15px;
  }
}

.calculator-mortgages__table-value--red {
  color: $red;
}

.calculator-mortgages__button {
  display: block;
  width: 100%;

  @media only screen and (min-width : 360px) {
    width: auto;
    margin: 0 auto;
  }
}

.calculator-mortgages__button--mobile {
  @include breakpoint(lg) {
    display: none;
  }
}

.calculator-mortgages__button--desktop {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}











.result__range-wrapper {
  display: block;
  margin-top: 28px;
  position: relative;
  width: 100%;
}

.result__range {
  background: 0 0;
  height: 6px;
  position: relative;
  webkit-appearance: none;
  width: 100%;
  z-index: 2;
}

.result__range::-webkit-slider-thumb {
  background: #83c550;
  border: 0;
  border-radius: 50%;
  cursor: ew-resize;
  height: 10px;
  margin-top: -3px;
  transition: background .15s linear .15s, -webkit-transform .15s linear;
  transition: transform .15s linear, background .15s linear .15s, -webkit-transform .15s linear;
  transition: transform .15s linear, background .15s linear .15s;
  webkit-appearance: none;
  webkit-transition: background .15s linear .15s, -webkit-transform .15s linear;
  width: 10px;
  z-index: 2;
}

.result__range::-webkit-slider-thumb:active,
.result__range::-webkit-slider-thumb:hover {
  background: #3058fe;
  transform: scale(1.5);
  webkit-transform: scale(1.5);
}

.result__range::-webkit-slider-runnable-track {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  cursor: pointer;
  height: 6px;
  width: 100%;
}

.result__range::-moz-range-thumb {
  background: #83c550;
  border: 0;
  border-radius: 50%;
  cursor: ew-resize;
  height: 10px;
  transition: background .15s linear .15s, -webkit-transform .15s linear;
  transition: transform .15s linear, background .15s linear .15s, -webkit-transform .15s linear;
  transition: transform .15s linear, background .15s linear .15s;
  webkit-transition: background .15s linear .15s, -webkit-transform .15s linear;
  width: 10px;
}

.result__range::-moz-range-thumb:active,
.result__range::-moz-range-thumb:hover {
  background: #3058fe;
  transform: scale(1.5);
}

.result__range::-moz-range-track {
  background: 0 0;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  cursor: pointer;
  height: 4px;
  width: 100%;
}

.result__range::-ms-thumb {
  background: #83c550;
  border: none;
  border-radius: 0;
  cursor: pointer;
  height: 10px;
  transition: background .15s linear .15s, -webkit-transform .15s linear;
  transition: transform .15s linear, background .15s linear .15s, -webkit-transform .15s linear;
  transition: transform .15s linear, background .15s linear .15s;
  webkit-transition: background .15s linear .15s, -webkit-transform .15s linear;
  width: 10px;
}

.result__range::-ms-thumb:active,
.result__range::-ms-thumb:hover {
  background: #3058fe;
  transform: scale(1.5);
}

.result__range::-ms-track {
  background: 0 0;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  color: transparent;
  cursor: pointer;
  height: 6px;
  position: relative;
}

.result__track {
  background-color: transparent;
  background-image: linear-gradient(-45deg, transparent 49.9%, #8b8b8b 49.9%, #8b8b8b 60%, transparent 60%), linear-gradient(-45deg, #8b8b8b 10%, transparent 10%);
  background-repeat: repeat;
  background-size: 4px 4px;
  border-radius: 4px;
  display: block;
  height: 5px;
  left: 1px;
  max-width: 100% !important;
  overflow: hidden;
  position: absolute;
  top: 9px;
  width: 10%;
  z-index: 1;
}