@import '../../helpers/variables';
@import '../../helpers/mixins';

.menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  &--opened {
    display: block;
  }
  &--opened .menu__content {
    transform: translate3d(0, 0, 0);

  }
  &--opened .menu__content::after {
    right: -36px;
    bottom: -85px;
  }

}

.menu__content {
  display: block;
  position: relative;
  z-index: 6;
  max-width: 320px;
  height: 100%;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 6px 18px rgba(0, 36, 50, 0.32);
  border-radius: 0 4px 4px 0;
  transition: all 2s ease-in-out;
  transform: translate3d(0, -100%, 0);
  &:after {
    @include pseudo;
    transition: all 2s ease-in-out;
    right: 100%;
    bottom: 100%;
    transform: skewY(-55deg);
    z-index: 1;
    width: 172px;
    height: 300px;
    background: $lightBlue;
  }
}

.menu__body {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 92px);
  padding-left: 25px;
  padding-top: 25px;
}

.menu__title-list {
  margin-bottom: 15px;
  font-size: 20px;
  color: #002432;
}

.menu__list {
  margin-bottom: 35px;
  padding-left: 25px;
}

.menu__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.menu__link {
  font-size: 17px;
}

.menu__button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  //margin: 0 -25px;
  padding: 25px;
  z-index: 2;
  background-color: $white;
  box-shadow: 0 6px 18px rgba(0, 36, 50, 0.32);
  border-radius: 0 4px 4px 0;
}

.menu__button-selection {
  width: 100%;
}

.menu__overlay {
  animation: show .3s ease-in-out;
  background-color: rgba($color: #002432, $alpha: .56);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

