.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba($color: #002432, $alpha: .56);
}

.menu__content {
  position: relative;
  z-index: 1;
  display: none;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 320px;
  background-color: $white;
  box-shadow: 0 6px 18px rgba(0, 36, 50, 0.32);
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  animation: slideRight .3s ease-in-out;

  &--slide {
    display: block
  }

  &:after {
    @include pseudo;
    right: -25px;
    bottom: -35px;
    transform: skewY(-55deg);
    z-index: -1;
    width: 172px;
    height: 250px;
    background-color: $lightBlue;
  }
}

.menu__title-list {
  margin-bottom: 15px;
  font-size: 20px;
  color: #002432;
}

.menu__list {
  margin-bottom: 35px;
  padding-left: 25px;
}

.menu__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.menu__link {
  font-size: 17px;
}

.menu__button-container {
  margin: 0 -25px;
  padding: 25px;
  background-color: $white;
  box-shadow: 0 6px 18px rgba(0, 36, 50, 0.32);
  border-radius: 0 4px 4px 0;
}

.menu__button-selection {
  width: 100%;
}

.menu {
  display: none;
  animation: show .3s ease-in-out;
}

.menu--opened {
  display: block;
}