@import '../../helpers/variables';
@import '../../helpers/mixins';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  // display: block;
}

.modal--2 {
  .modal__content {
    background: rgb(5, 48, 65);
  }
}

.modal__dialog {
  padding: 20px 15px;
  // position: relative;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // justify-content: center;
  // align-items: center;
  // background-color: #fff;
  // box-sizing: border-box;
  // overflow-y: auto;
  // overflow-x: hidden;
  position: relative;
  top: 0;
  overflow-y: auto;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #fff;

  // @include breakpoint(md) {
  //   padding: 50px 85px 65px;
  //   max-width: 660px;
  //   height: auto;
  // }
  @include breakpoint(md) {
    padding: 50px 85px;
    max-width: 660px;
    height: auto;
  }
}

// .modal__dialog--big {
//     @include breakpoint(md) {
//         width: auto;
//         height: 480px;
//     }
//     @include breakpoint(lg) {
//         height: 600px;
//     }
// }
.modal__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__close {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 10px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.modal__description {
  margin-bottom: 25px;
  font-size: 17px;
  text-align: center;
}

.modal__title {
  @include titleH2;
  margin-bottom: 20px;
  line-height: 36px;
  text-align: center;
}

.modal__button {
  width: 100%;
}

.modal__form {
  width: 100%;
  max-width: 320px;
}

.modal__block-input {
  margin-bottom: 15px;
}

.show {
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 36, 50, .56);
  animation: show .3s ease-in-out;
}

.hidden {
  overflow: hidden;
}

.modal-options__dialog {
  width: 100%;
  height: 100%;
}

// Подбор помещения
.modal-options__content {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 320px;
}

.modal-options__fieldset-block {
  flex-wrap: wrap;
}

.modal-options__room-list {
  flex-wrap: wrap;
}

.modal-options__title {
  font-size: 20px;
}

.modal-options__form {
  fieldset {
    margin-bottom: 20px;
  }
}

.modal-options__room-item {
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.modal-options__choose-button {
  width: 100%;
}

.modal-options__type-list {
  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.modal-options__type-item {
  @include breakpoint(sm) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// Обратный звонок
.modal-callback__content {
  text-align: center;
}

// Запись в шоурум
.modal-showroom__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-showroom__item {
  position: relative;
  width: 100%;
  max-width: 150px;
}

.modal-showroom__icon-arrow-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

// Нравится планировка
.modal-like-layout__dialog {
  max-width: 830px;
  padding: 0;

  @include breakpoint(md) {
    height: auto;
  }
}

.modal-like-layout__item {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;

  @include breakpoint(md) {
    display: grid !important;
    grid-column-gap: 15px;
    grid-template-columns: 250px auto;
    padding: 0;
  }

  @include breakpoint(lg) {
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

.modal-like-layout__box {
  margin-bottom: 25px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  padding: 35px 0 50px;
  text-align: center;
  background-color: rgba(#77888f8e, .08);

  @include breakpoint(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 6;
    margin: 0;
    padding: 0;
  }
}

.modal-like-layout__img {
  margin: 0 auto;
  width: 205px;
}

.modal-like-layout__zoom-button {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  bottom: 10px;
  background-image: url($imageDir + 'scale.svg');

  @include breakpoint(md) {
    right: 25px;
    top: 25px;
    bottom: 0;
  }
}

.modal-like-layout__info {
  display: grid;
  margin: 0 auto;
  max-width: 320px;

  @include breakpoint(md) {
    padding: 35px 15px 25px 0;
    margin: 0;
    max-width: 100%;
  }

  @include breakpoint(lg) {
    padding: 50px 32px 65px 0;
  }
}

.modal-like-layout__modal-content {
  align-items: stretch;
  justify-content: flex-start;
}

.modal-like-layout__button {
  display: block;
  width: 100%;

  @media (min-width: 360px) and(max-width: 576px) {
    width: 100%;
    max-width: 155px;
    margin: 0 auto;
  }

  @include breakpoint(sm) {
    margin: 0 auto;
    width: auto;
  }

  @include breakpoint(md) {
    justify-self: flex-start;
    margin: 0;
  }
}

.modal-like-layout__title {
  text-align: left;
}

.modal-like-layout__description {
  text-align: left;
}

// Акции и скидки 
.modal-discounts__dialog {
  padding-bottom: 0;
  max-width: 100%;
  max-height: 100%;

  @include breakpoint(md) {
    max-width: 650px;
    height: 430px;
  }

  @include breakpoint(lg) {
    max-width: 830px;
    height: 632px;
  }
}

.modal-discounts__content {
  display: block;
}

.discounts__carousel-list--modal {
  display: grid;
  grid-template-columns: repeat(2, 190px);
  grid-gap: 20px;
  justify-content: center;
  margin: 0;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 220px);
    margin-bottom: 80px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(2, 320px);
  }
}

// Подбор помещения
.modal-choose-apartment__dialog {
	position: relative;
	height: 100%;
  color: $white;
  background-image: url($imageDir + 'choose-apartment-bg-mobile.jpg');
  background-color: #afa7a3;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(md) {
    max-width: 100%;
    background-image: url($imageDir + 'choose-apartment-bg.jpg');
    background-position: center;
  }
}

.modal-choose-apartment__content {
  max-width: 350px;
  margin: 0 auto;

  @include breakpoint(sm) {
    max-width: 520px;
    margin: 0 auto;
  }
}

.modal-choose-apartment__heading {
  margin-bottom: 25px;

  @media only screen and (min-width : 360px) {
    text-align: center;
	}
	@include breakpoint(sm) {
    margin-bottom: 35px;
  }
}

.modal-choose-apartment__row-buttons {
  display: flex;
	flex-direction: column;
	align-items: center;
  width: 100%;
  margin-bottom: 25px;

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
		justify-content: center;
		margin-bottom: 35px;
  }
}

.modal-choose-apartment__button {
  width: 100%;

  // width: 100%;
  @media only screen and (min-width : 360px) {
		width: 100%;
		max-width: 170px;
  }
  &:not(:last-child) {
    margin-bottom: 8px;

    @include breakpoint(sm) {
      margin: 0;
			margin-right: 15px;
			max-width: 170px;
    }
  }
}

.modal-choose-apartment__steps {
  width: 100%;

  @media only screen and (min-width : 360px) {
    width: auto;
  }
}

.modal-choose-apartment__number-link {
  &:not(.modal-choose-apartment__number-link--active) {
    color: $white;
  }
}