@import '../../helpers/variables';
@import '../../helpers/mixins';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .5s ease;
  background: $white;
  z-index: 999;

  &--hide {
    transform: translate3d(-100%, 0, 0);
  }

  .container {
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__logo {
    max-width: 500px;
    width: 100%;
    animation: scaleOut .4s ease-in-out;

    &-letter {
      fill:#060707;
    }

    &-blue {
      fill:#2C416D;
    }

    &-red {
      fill:#CE383A;
    }

  }

}