@import '../../helpers/variables';
@import '../../helpers/mixins';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .5s ease;
  background: $white;
  z-index: 999;

  &--hide {
    transform: translate3d(-100%, 0, 0);
  }

  .container {
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__text {
    animation: width 2s ease-in-out .3s forwards;
    width: 0;
    opacity: 0;
  }

  &__logo {
    width: 215px;
    animation: scaleIn .6s ease-in-out, widthOut .6s ease-in-out .6s forwards;

    &-letter {
      fill:#060707;
      animation: show .3s ease-in-out .56s forwards;
      opacity: 0;
    }

    &-blue {
      fill:#2C416D;
    }

    &-red {
      fill:#CE383A;
    }

  }

}