@import '../../helpers/variables';
@import '../../helpers/mixins';


.selection-premises {
  position: relative;
  padding-bottom: 35px;

  @include breakpoint(md) {
    padding-bottom: 70px;
  }
}

.selection-premises__title {
  @include titleH2;
  margin-bottom: 10px;
  text-align: left;

  @include breakpoint(sm) {
    text-align: center;
  }
}

.selection-premises__description{
  margin-bottom: 24px;
  max-width: 600px;
  font-family: $UbuntuMedium;
  text-align: left;
  @include breakpoint(sm) {
    margin: 0 auto 24px;
    text-align: center;
  }
  @include breakpoint(lg) {
    margin-bottom: 40px;
  }
}

.selection-premises__options-button {
  margin-bottom: 20px;

  @media (min-width: 360px) and(max-width: 576px){
    width: 100%;
    max-width: 155px;
    margin: 0 auto 20px;
  }

  @include breakpoint(sm) {
    align-self: center;
  }

  @include breakpoint(md) {
    display: none;
  }
}

.selection-premises__form--none {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.selection-premises__type {}

.selection-premises__type-item {
  &:not(:last-child) {
    margin-bottom: 10px;

    @include breakpoint(sm) {
      margin-bottom: 0;
    }

    @include breakpoint(lg) {
      margin-right: 160px;
    }
  }
}


.selection-premises__fieldset-block {
  display: flex;

  @include breakpoint(md) {
    margin-bottom: 40px;
  }
}

.selection-premises__housing-list {
  @include breakpoint(md) {
    margin-right: 65px;
  }

  @include breakpoint(lg) {
    margin-right: 140px;
  }
}

.selection-premises__type {
  @include breakpoint(md) {
    margin-bottom: 30px;
  }
}

.selection-premises__filter-result {
  margin-bottom: 40px;

  @include breakpoint(md) {
    margin-bottom: 25px;
  }
}

.filter-result {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  @include breakpoint(lg) {
    overflow-x: visible;
  }
}

.filter-result__table {
  width: auto;
  padding-left: 44px;
  line-height: 24px;
  color: $lightBlack;
  border: 1px solid #d2deec;
  border-collapse: collapse;

  th {
    padding-right: 20px;
  }

  td {
    padding-right: 20px;
  }

  tr {
    transition: all .5s;
    &:not(:last-child) {
      border-bottom: 1px solid #d3dfeb;
    }

    &:hover {
      @include breakpoint(lg) {
        border-radius: 4px;
        box-shadow: 0 6px 18px rgba(0, 36, 50, .32);
        cursor: pointer;
      }
    }
  }

  th:nth-child(6) {
    text-align: right;
  }

  td:nth-child(6) {
    text-align: right;
  }

  @include breakpoint(lg) {
    width: 100%;
  }
}

.filter-result__header {
  background-color: #f8f9fb;
  border-bottom: 1px solid #d3dfeb;
}

.filter-result__row {
  border-bottom: 1px solid #d3dfeb;
}

.filter-result__options {
  position: relative;
  padding: 12px 0;
  color: $lightBlue;
  text-align: left;
  font-weight: normal;

  &:first-child {
    padding-left: 15px;

    @include breakpoint(md) {
      padding-left: 45px;
    }
  }

  &:last-child {
    padding-right: 15px;
    text-align: right;

    @include breakpoint(md) {
      padding-right: 45px;
    }
  }
}

.filter-result__options--black {
  color: $lightBlack;
}

.filter-result__value {
  position: relative;
  padding: 18px 0;

  &:first-child {
    padding-left: 15px;

    @include breakpoint(md) {
      padding-left: 45px;
    }
  }

  &:last-child {
    padding-right: 15px;
    text-align: right;

    @include breakpoint(md) {
      padding-right: 45px;
    }
  }
}

.filter-result__value--scheme-icon {
  padding-left: 60px;

  &:after {
    @include pseudo;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    background-image: url($imageDir + 'filter-img.svg');
    background-repeat: no-repeat;
  }
}

.selection-premises__more-button {
  margin-bottom: 30px;

  @media (min-width: 360px) and(max-width: 576px){
    width: 100%;
    max-width: 155px;
    margin: 0 auto 30px;
  }
  
  @include breakpoint(sm) {
    align-self: center;
  }

  @include breakpoint(md) {
    margin-bottom: 70px;
  }
}

.selection-premises__find-apartments{
  position: relative;
  padding: 24px;
  color: $white;
  background-image: url($imageDir + 'apartment-img.jpg');
  background-color: #2a2c2a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right -220px;
  border-radius: 4px;

  @media only screen and (min-width: 360px) {
    background-position: top right;
  }

  @include breakpoint(lg) {
    padding: 36px 24px 20px 24px;
  }
}

.selection-premises__find-apartments-heading{
  margin-bottom: 10px;
  display: block;
  font-family: $UbuntuMedium;
  font-weight: normal;
  font-size: 17px;

  @include breakpoint(sm) {
    font-size: 20px;
    line-height: 26px;
  }

  @include breakpoint(md) {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 36px;
  }
}

.selection-premises__find-apartments-text{
  margin-bottom: 24px;
  @include breakpoint(md) {
    margin-bottom: 55px;
  }
}

.selection-premises__find-apartments-link{
  display: block;
  width: 100%;
  text-align: center;

  @media only screen and (min-width: 360px) {
    margin: 0 auto;
    max-width: 155px;
  }
  @include breakpoint(sm) {
    margin: 0;
  }
}

.selection-premises__marker-red-icon{
  display: none;
  right: 28%;
  top: -15px;
  @include breakpoint(lg) {
    display: block;
  }
}

.filter-result__button{
  &:hover{
    color: $red;
  }
}
